body {
    font-family: 'Roboto';
}

.share>div>a>img {
    width: 3%;
    height: 3%;
}

.star {
    position: relative;
    display: block;
    float: left;
    height: 1.4rem;
    width: 1.4rem;
    font-size: 1.4rem;
}